form {
 	border: 2px solid pink;
 	box-shadow: 20px 20px 50px 20px pink;
 	margin: 100px 0;
 	font-size: 15px;
 	color: #c609c0;
 	position: absolute;
 	top:20px;
 	right: 257px;
 }
 .youtobe{
 	padding: 10px 30px;
 	margin: 10px 0;
 	width:460px;
 
 }
 
 .form {
 	padding: 5px 10px;
 	width: 450px;
 }
 .control {
 	width: 150px;
 	float: left;
 	font-size: 15px;
 	font-weight: bold;
 }
 