

header, footer {
    padding: 1em;
    color: white;
    background-color: gray;
    text-align: center;
}
i{
    color: red;
}

nav ul {
    float: left;
    padding: 1em;

}
a{
    color: blue;
}
a:hover {
    color: red;
}

article {
    margin-left: 180px;
    border-left: 5px solid gray;
    padding: 1em;
 }  
span{
     font-family:Arial Black;
    color: blue;
}